<html>
<head>
<title>Prince Singh blog</title>
</head>
<body>
<div>
<h1><a href="/">Prince Singh Blog</a></h1>
</div>
<div>
<p>published: 04.04.2018, 10:00</p>
<h2><a href="">My first post</a></h2>
<p>Hi Guys!This is my first blog which I have made using Django framework of Python.I have taken help of Django Girl's Tutorial and as server I have used pythonanywhere.com .</p>
</div>
<div>
<p>published: 04.04.2018, 12:00</p>
<h2><a href="">My second post</a></h2>
<p>I am trying to find something interesting to put on this blog.I will post as soon as I get something useful.</p>
</div>
</body>
</html>